@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryBlack: #ffffff;
  --primaryWhite: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Neutral Color Scheme */
    --primaryBlack: #272727;
    --primaryWhite: #FAF9F6;
  }
}

body {
  color: var(--primaryBlack);
  background: var(--primaryWhite);
  font-family: Arial, Helvetica, sans-serif;
}
